<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--네임스페이스를 통해서 별도로 번역-->
    <head>
        <meta charset="UTF-8">
        <title th:if="${pageTitle != null}" th:text="${pageTitle}"></title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
        <!--th가 있어야 링크식 형태로 번역됨-->

        <th:block layout:fragment="addCss"></th:block>

        <th:block th:if="addCss != null"}>
            <link rel="stylesheet" type="text/css" th:each="cssFile: ${addCss}"
                  th:href="@{/css/{file}.css(file=${cssFile})}">
        </th:block>

        <script th:src="@{/js/common.js}"></script>

        <th:block layout:fragment="addScript"></th:block>

        <th:block th:if="${addScript != null}">
            <script th:each="jsFile : ${addScript}"
                    th:src="@{/js/{file}.js(file=${jsFile})}"></script>
        </th:block>
    </head>
    <body><!--헤더 푸터 고정-->
        <header th:replace="~{outlines/header::common}"></header>
             <!--내용 교체는 xmlns:layout이 해줌-->
            <main layout:fragment="content"></main>
        <footer th:replace="~{outlines/footer::common}"></footer>
        <iframe name="ifrmProcess" class="dn"></iframe>
    </body>
</html>