<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"> <!--번역하기 위한 시그니처 네임스페이스 입력해야함-->
    <body>
        <h1>회원정보</h1>
        <th:block th:object="${member}">
            <dl>
                <dt th:text="#{이메일}">이메일</dt>
                <!--<dd th:text="${member.email}"></dd> 타임리프는 태그 내부 작성이 아닌 속성으로 입력해야함 내용이 있어도 번역될때 th에 지정한 값으로 대체가 된다.-->
                <dd th:text="*{email}"></dd>
            </dl>
            <dl>
                <dt th:text="#{회원명}">회원명</dt>
<!--                <dd th:text="${member.userName}"></dd>-->
                <dd th:text="*{userName}"></dd>
            </dl>
            <dl>
                <dt th:text="#{가입일시}">가입일시</dt>
<!--                <dd th:text="${member.regDt}"></dd>-->
                <dd th:text="*{regDt}"></dd>
            </dl>

            <a href="#" th:href="@{/member/login}" th:text="#{로그인}"></a>
            <br>
            <!-- day05/member/login?p1=user01...&p2=사용자01-->
            <a th:href="@{/member/login(p1=*{email}, p2=*{userName})}" th:text="#{로그인}"></a>
            <a th:href="@{/member/info/{email}(email=*{email})}"></a>
            <a th:href="@{/member/info/{email}/{email2}(email=*{email},
            email2=*{userName})}"></a>
        </th:block>
    </body>
</html>