<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--데이터베이스 연결에 필요한 정보 설정
     MyBatis 설정을 위한 메인 구성 파일로, 데이터베이스 연결 설정, 트랜잭션 관리, 매퍼 파일 등록 등을 포함
    -->
    <properties>
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
        <property name="username" value="STUDY"/>
        <property name="password" value="oracle"/>
    </properties>
    <settings>
        <setting name="logImpl" value="SLF4J"/>
    </settings>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--mapper파일 등록, 매퍼파일은 SQL쿼리와 자바 객체 간의 매핑 정보를 정의한다.-->
    <mappers>
        <mapper resource="mappers/MemberMapper.xml"/>
    </mappers>
</configuration>